.navbar-dark .navbar-nav .active>.nav-link{
color:red;
font-size:20px;
}
.headername{
color:cyan;
}
.navbar-collapse .navbar-nav .nav-item{
 float: right;
}
.navbar{
background-color:#146396;
font-size:20px;
color:white;
}
.btn-sty{
background-color:black;
color:white;
height:50px;
width:150px;
padding:10px 30px;
}
.lbtn-sty{
background-color:#fb6932;
color:white;
height:50px;
width:150px;
padding:10px 30px;
border-color:white;
font-size:17px;
}
.left-p{
font-size:20px;
}

.rs-undln{
text-decoration-color: red;
}
.lefts-head{
font-size:40px;
}
.lefts-para{
font-size:20px;
}
.rights-para{
font-size:20px;
color:black;
}
.num-sty{
text-align:center;
}
.great-than{
font-size:30px;
}
.half-color{
background-color:#fb6932;
color:white;
}
.txt-sty{
text-align:center;
color:blue;
}
.btn-styl{
background-color:#fb6932;
color:white;
padding:15px 15px;
}

.txt-styl{
color:#fb6932;
text-align:left;
}
.lbtn-styl{
background-color:#fb6932;
color:white;
height:50px;
width:150px;
padding:10px 30px;
border-color:white;
font-size:17px;
}
.btm-sty{
background-color:#0274be;
color:white;
padding:50px 50px;
}
.flp-sty{
font-size:13px;
}
.fmp-sty{
font-size:20px;
color:white;
}
.imag-sty{
color:#ff6130;
}
.nav-link{
color:white !important;
}